@page "/"

<PageTitle>Startsida</PageTitle>

<h1>Startsida</h1>
<p>Välkommen till min lösning på Moment 1.2 i .NET Core kursen! <br> Nedan följer en komponent som kan återanvändas på olika sidor i webbplatsen.</p>

<CustomComponent />
